@{
   ViewData["Title"] = "Main";
}
	<div class="main_wrapper">
				<div class="main_day_news">
					<img class="main_day_news_image" src="@ViewBag.MainPage[2]" height="300" width="500">
					<div class="main_day_news_text">
						<strong class="main_day_news_title"><a href="http://localhost:5252/News/NewsPage/@ViewBag.MainPage[0]">@ViewBag.MainPage[1]</a></strong>
						<!--<div class="main_day_news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
					</div>
				</div>
				<ul class="news_list">
					<li class="news_item">
						<img class="news_image"  src="@ViewBag.Page1[2]" height="200" width="300">
						<div class="news_text">
							<strong class="news_title"><a href="http://localhost:5252/News/NewsPage/@ViewBag.Page1[0]">@ViewBag.Page1[1]</a></strong>
							<!--<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
						</div>
					</li>
					<li class="news_item">
						<img class="news_image"  src="@ViewBag.Page2[2]" height="200" width="300">
						<div class="news_text">
							<strong class="news_title"><a href="http://localhost:5252/News/NewsPage/@ViewBag.Page2[0]">@ViewBag.Page2[1]</a></strong>
							<!--<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
						</div>
					</li>
					<li class="news_item">
						<img class="news_image"  src="@ViewBag.Page3[2]" height="200" width="300">
						<div class="news_text">
							<strong class="news_title"><a href="http://localhost:5252/News/NewsPage/@ViewBag.Page3[0]">@ViewBag.Page3[1]</a></strong>
							<!--<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
						</div>
					</li>
					<li class="news_item">
						<img class="news_image"  src="@ViewBag.Page4[2]" height="200" width="300">
						<div class="news_text">
							<strong class="news_title"><a href="http://localhost:5252/News/NewsPage/@ViewBag.Page4[0]">@ViewBag.Page4[1]</a></strong>
							<!--<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
						</div>
					</li>
					<li class="news_item">
						<img class="news_image"  src="@ViewBag.Page5[2]" height="200" width="300">
						<div class="news_text">
							<strong class="news_title"><a href="http://localhost:5252/News/NewsPage/@ViewBag.Page5[0]">@ViewBag.Page5[1]</a></strong>
							<!--<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
						</div>
					</li>
				</ul>
			</div>